@page
@model WEB_CW.Pages.Process.TestModel
@{
}
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



<p class="text-primary bg-warning">ทดดสอบๆ หัวหน้า</p>
<button type="submit" class="btn btn-primary me-2">TEST</button>
<button type="reset" class="btn btn-warning me-2">TEST</button>
<button type="reset" class="btn btn-danger me-2">TEST</button>
<div class="container bg-success"><p>lorem200ldfdshfjjjjjjjjjjjjjjjdsfkjhsdfhdsfjdhsgfhjdsgfjdgsfhgdsjfgdsjfgdjsgfjsdgfjsdgfdsgfgdshfgdshfgdsjhfgdsjhasdasdjahsgdsgdgasjhgsajhdgjhagsdjgas   djgasjdhgajsgdjahgsdjahgsdjgasjdgajshgdjagsdjdsfsdfsdfsdfsdfsdfsdfsdgfgfhfhgfhfghgfhgfhfghfghfghfghfghgfhfghgffgsdjhgf</p></div>
<div class="container-fluid bg-Info"><p>lorem200ldfdshfjjjjjjjjjjjjjjjdsfkjhsdfhdsfjdhsgfhjdsgfjdgsfhgdsjfgdsjfgdjsgfjsdgfjsdgfdsgfgdshfgdshfgdsjhfgdsjhasdasdjahsgdsgdgasjhgsajhdgjhagsdjgas   djgasjdhgajsgdjahgsdjahgsdjgasjdgajshgdjagsdjdsfsdfsdfsdfsdfsdfsdfsdgfgfhfhgfhfghgfhgfhfghfghfghfghfghgfhfghgffgsdjhgf</p></div>


<p class="text-start">Hello Word</p>
<p class="text-center">Hello Word</p>
<p class="text-end">Hello Word</p>  
<div style="text-align:center">
    <h1 class="d-inline bg-success">hello world</h1>
</div>

<div class="bg-success clearfix">
    <button class="float-start">L</button>
    <button class="float-end">R</button>
</div>