@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form method="post">
    <div class="text-center">
        <img src="~/IMG/index01.jpg" class="rounded mx-auto d-block m-1" width="95%" alt="">
    </div>
<div class="text-center">
    <button type="submit" class="btn btn-primary me-2">GO TO HOME</button>
</div>
</form>