@page
@model WEB_CW.Pages.Admin.ManageWebModel
@{
}
<form method="post">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <p class="h2 text-danger border-1 bg-warning d-inline p-1 ">MANAGE WEBSITE</p>
        </div>
    </div>
    <div class="row bg-primary mt-2 text-center p-1">
            <div class="col-4"><a href="ManageWeb/ManageImages" class="btn btn-outline-warning btn-lg w-100">จัดการรูปภาพหน้าแรก</a></div>
        <div class="col-4"><button id="bt02" class="btn btn-outline-warning btn-lg w-100">Soon.</button></div>
        <div class="col-4"><button id="bt03" class="btn btn-outline-warning btn-lg w-100">Soon.</button></div>
    </div>
@*     <div class="row bg-secondary mt-2 text-center">
        <div class="col-4">4</div>
        <div class="col-4">5</div>
        <div class="col-4">6</div>
    </div>
    <div class="row mt-2 bg-info text-center">
        <div class="col-4">7</div>
        <div class="col-4">8</div>
        <div class="col-4">9</div>
    </div> *@
    </div>
</form>